############################################################################
# configuration file for tafel_gen_potential.py
# To use: tafel_gen_potential.py [this_config_file]
# (Need to run script in the same directory as config file.)
#
# Note: This file will be sourced into a python script so make sure you have
# correct syntax here.
############################################################################

start_potential = 0.5 #in V
end_potential = 2.0 #in V
step = 0.20 #in V
each_runtime = 300 #seconds; runtime of each datapoint
num_passes = 2 #number of duplicate Tafel runs. Starts at 1
sensitivity = '1e-3' #sensitivity in A/V. Must be a string between '1e-12 and .1'
