############################################################################
# configuration file for tafel_gen_current.py
# To use: tafel_gen_current.py [this_config_file]
# (Need to run script in the same directory as config file.)
#
# Note: This file will be sourced into a python script so make sure you have
# correct syntax here.
############################################################################

start_current = -6.0 #this is log() value
end_current = -3.0 #this is log() value
#step = 0.25 #this is log() value
step = 0.25 #this is log() value
each_runtime = 300 #seconds; runtime of each datapoint
num_passes = 6 #number of duplicate Tafel runs. Starts at 1
